In [34]:
import pandas as pd

In [35]:
df2020 = pd.read_csv('../data/2020_receiving_original.csv')
df2020['Year'] = 2020
df2020.head()

,Rk,Player,Tm,Age,Pos,G,GS,Tgt,Rec,Yds,...,YAC/R,ADOT,BrkTkl,Rec/Br,Drop,Drop%,Int,Rat,Player-additional,Year
0,1,Stefon Diggs*+,BUF,27,WR,16,15,166,127,1535,...,3.7,10.1,5,25.4,8,4.8,2,115.4,DiggSt00,2020
1,2,Davante Adams*+,GNB,28,WR,14,14,149,115,1374,...,5.2,8.9,2,57.5,1,0.7,3,136.0,AdamDa01,2020
2,3,DeAndre Hopkins*,ARI,28,WR,16,16,160,115,1407,...,4.6,8.9,15,7.7,2,1.3,2,105.9,HopkDe00,2020
3,4,Darren Waller*,LVR,28,TE,16,15,145,107,1196,...,5.3,7.8,7,15.3,4,2.8,3,110.0,WallDa01,2020
4,5,Travis Kelce*+,KAN,31,TE,15,15,145,105,1416,...,5.6,8.5,10,10.5,2,1.4,3,119.8,KelcTr00,2020

In [36]:
df2019 = pd.read_csv('../data/2019_receiving_original.csv')
df2019['Year'] = 2019
df2019.head()

,Rk,Player,Tm,Age,Pos,G,GS,Tgt,Rec,Yds,...,YAC/R,ADOT,BrkTkl,Rec/Br,Drop,Drop%,Int,Rat,Player-additional,Year
0,1,Michael Thomas*+,NOR,26,WR,16,15,185,149,1725,...,3.9,8.1,5,29.8,6,3.2,0,121.7,ThomMi05,2019
1,2,Christian McCaffrey*+,CAR,23,RB,16,16,142,116,1005,...,8.8,0.6,14,8.3,7,4.9,2,99.7,McCaCh01,2019
2,3,Keenan Allen*,LAC,27,WR,16,16,149,104,1199,...,3.6,10.1,4,26.0,7,4.7,8,84.8,AlleKe00,2019
3,4,DeAndre Hopkins*+,HOU,27,WR,15,15,150,104,1165,...,3.7,10.1,9,11.6,4,2.7,1,105.0,HopkDe00,2019
4,5,Julian Edelman,NWE,33,WR,16,13,153,100,1117,...,3.2,9.5,4,25.0,13,8.5,3,91.9,EdelJu00,2019

In [37]:
simple2019 = df2019[['G', 'GS', 'Tgt', 'Rec', 'Yds', 'TD', 'Player-additional']].copy()
simple2019.rename(columns = {'G': 'G19', 'GS': 'GS19', 'Tgt': 'Tgt19', 'Rec': 'Rec19', 'Yds': 'Yds19', 'TD': 'TD19'}, inplace = True)
simple2019.head()

   G19  GS19  Tgt19  Rec19  Yds19  TD19 Player-additional
0   16    15    185    149   1725     9          ThomMi05
1   16    16    142    116   1005     4          McCaCh01
2   16    16    149    104   1199     6          AlleKe00
3   15    15    150    104   1165     7          HopkDe00
4   16    13    153    100   1117     6          EdelJu00

In [38]:
temp = df2020.merge(simple2019, how = 'left', on = 'Player-additional')
temp.head()

,Rk,Player,Tm,Age,Pos,G,GS,Tgt,Rec,Yds,...,Int,Rat,Player-additional,Year,G19,GS19,Tgt19,Rec19,Yds19,TD19
0,1,Stefon Diggs*+,BUF,27,WR,16,15,166,127,1535,...,2,115.4,DiggSt00,2020,15.0,15.0,94.0,63.0,1130.0,6.0
1,2,Davante Adams*+,GNB,28,WR,14,14,149,115,1374,...,3,136.0,AdamDa01,2020,12.0,12.0,127.0,83.0,997.0,5.0
2,3,DeAndre Hopkins*,ARI,28,WR,16,16,160,115,1407,...,2,105.9,HopkDe00,2020,15.0,15.0,150.0,104.0,1165.0,7.0
3,4,Darren Waller*,LVR,28,TE,16,15,145,107,1196,...,3,110.0,WallDa01,2020,16.0,16.0,117.0,90.0,1145.0,3.0
4,5,Travis Kelce*+,KAN,31,TE,15,15,145,105,1416,...,3,119.8,KelcTr00,2020,16.0,16.0,136.0,97.0,1229.0,5.0

In [39]:
df2018 = pd.read_csv('../data/2018_receiving_original.csv')
df2018['Year'] = 2018
df2018.head()

,Rk,Player,Tm,Age,Pos,G,GS,Tgt,Rec,Yds,...,YAC/R,ADOT,BrkTkl,Rec/Br,Drop,Drop%,Int,Rat,Player-additional,Year
0,1,Michael Thomas*+,NOR,25,WR,16,16,147,125,1405,...,4.1,7.7,6,20.8,3,2.0,1.0,124.1,ThomMi05,2018
1,2,Zach Ertz*,PHI,28,TE,16,16,156,116,1163,...,3.0,7.2,3,38.7,5,3.2,5.0,98.9,ErtzZa00,2018
2,3,DeAndre Hopkins*+,HOU,26,WR,16,16,163,115,1572,...,3.4,11.5,5,23.0,2,1.2,3.0,115.9,HopkDe00,2018
3,4,Julio Jones*,ATL,29,WR,16,16,170,113,1677,...,4.0,14.0,3,37.7,9,5.3,3.0,106.9,JoneJu02,2018
4,5,Adam Thielen*,MIN,28,WR,16,16,153,113,1373,...,3.7,9.4,3,37.7,3,2.0,2.0,115.2,ThieAd00,2018

In [40]:
simple2018 = df2018[['G', 'GS', 'Tgt', 'Rec', 'Yds', 'TD', 'Player-additional']].copy()
simple2018.rename(columns = {'G': 'G18', 'GS': 'GS18', 'Tgt': 'Tgt18', 'Rec': 'Rec18', 'Yds': 'Yds18', 'TD': 'TD18'}, inplace = True)
simple2018.head()

   G18  GS18  Tgt18  Rec18  Yds18  TD18 Player-additional
0   16    16    147    125   1405     9          ThomMi05
1   16    16    156    116   1163     8          ErtzZa00
2   16    16    163    115   1572    11          HopkDe00
3   16    16    170    113   1677     8          JoneJu02
4   16    16    153    113   1373     9          ThieAd00

In [41]:
final2020 = temp.merge(simple2018, how = 'left', on = 'Player-additional')
final2020.head()

,Rk,Player,Tm,Age,Pos,G,GS,Tgt,Rec,Yds,...,Tgt19,Rec19,Yds19,TD19,G18,GS18,Tgt18,Rec18,Yds18,TD18
0,1,Stefon Diggs*+,BUF,27,WR,16,15,166,127,1535,...,94.0,63.0,1130.0,6.0,15.0,14.0,149.0,102.0,1021.0,9.0
1,2,Davante Adams*+,GNB,28,WR,14,14,149,115,1374,...,127.0,83.0,997.0,5.0,15.0,15.0,169.0,111.0,1386.0,13.0
2,3,DeAndre Hopkins*,ARI,28,WR,16,16,160,115,1407,...,150.0,104.0,1165.0,7.0,16.0,16.0,163.0,115.0,1572.0,11.0
3,4,Darren Waller*,LVR,28,TE,16,15,145,107,1196,...,117.0,90.0,1145.0,3.0,4.0,0.0,6.0,6.0,75.0,0.0
4,5,Travis Kelce*+,KAN,31,TE,15,15,145,105,1416,...,136.0,97.0,1229.0,5.0,16.0,16.0,150.0,103.0,1336.0,10.0

In [42]:
final2020['Pos'] = final2020['Pos'].map({'wr': 'WR', 'te': 'TE', 'rb': 'RB', 'qb': 'QB', 'fb': 'FB', 
                                         'WR': 'WR', 'TE': 'TE', 'RB': 'RB', 'QB': 'QB', 'FB': 'FB', 'LT': 'LT', 'RT': 'RT'})

In [43]:
final2020['Pos'].value_counts()

WR    98
TE    63
RB    40
FB     9
QB     9
LT     1
RT     1
Name: Pos, dtype: int64

In [46]:
#final2020.to_csv('../data/2020_receiving_final.csv', index = False)

In [47]:
final2020.shape

(499, 37)

In [45]:
final2020.isnull().sum()

Rk                     0
Player                 0
Tm                     0
Age                    0
Pos                  278
G                      0
GS                     0
Tgt                    0
Rec                    0
Yds                    0
TD                     0
1D                    18
YBC                    0
YBC/R                  0
YAC                    0
YAC/R                  0
ADOT                   0
BrkTkl                 0
Rec/Br               233
Drop                   0
Drop%                  0
Int                    0
Rat                    0
Player-additional      0
Year                   0
G19                  154
GS19                 154
Tgt19                154
Rec19                154
Yds19                154
TD19                 154
G18                  217
GS18                 217
Tgt18                217
Rec18                217
Yds18                217
TD18                 217
dtype: int64

In [51]:
#the Targets, Receptions, Yards, and TDs will be our target using the 2020 through 2018 stats
df2021 = pd.read_csv('../data/2021_receiving_original.csv')
df2021['Year'] = 2021
df2021.head()

,Rk,Player,Tm,Age,Pos,G,GS,Tgt,Rec,Yds,...,YAC/R,ADOT,BrkTkl,Rec/Br,Drop,Drop%,Int,Rat,Player-additional,Year
0,1,Cooper Kupp*+,LAR,28,WR,17,17,191,145,1947,...,5.8,8.6,10,14.5,8,4.2,5,124.8,KuppCo00,2021
1,2,Davante Adams*+,GNB,29,WR,16,16,169,123,1553,...,4.8,9.6,5,24.6,3,1.8,3,115.3,AdamDa01,2021
2,3,Tyreek Hill*,KAN,27,WR,17,16,159,111,1239,...,4.0,10.4,10,11.1,7,4.4,3,103.7,HillTy00,2021
3,4,Justin Jefferson*,MIN,22,WR,17,17,167,108,1616,...,4.5,12.4,5,21.6,7,4.2,2,111.3,JeffJu00,2021
4,5,Mark Andrews*+,BAL,26,te,17,9,153,107,1361,...,4.3,10.3,4,26.8,3,2.0,9,92.5,AndrMa00,2021

In [53]:
simple2021 = df2021[['Tgt', 'Rec', 'Yds', 'TD', 'Player-additional']].copy()
#removed Games and Games Started until I figure out what to do with those
simple2021.rename(columns = {'Tgt': 'Tgt21', 'Rec': 'Rec21', 'Yds': 'Yds21', 'TD': 'TD21'}, inplace = True) 
simple2021.head()

   Tgt21  Rec21  Yds21  TD21 Player-additional
0    191    145   1947    16          KuppCo00
1    169    123   1553    11          AdamDa01
2    159    111   1239     9          HillTy00
3    167    108   1616    10          JeffJu00
4    153    107   1361     9          AndrMa00

In [54]:
target = final2020.merge(simple2021, how = 'inner', on = 'Player-additional')
print(target.shape)
target.head()

(369, 41)

,Rk,Player,Tm,Age,Pos,G,GS,Tgt,Rec,Yds,...,G18,GS18,Tgt18,Rec18,Yds18,TD18,Tgt21,Rec21,Yds21,TD21
0,1,Stefon Diggs*+,BUF,27,WR,16,15,166,127,1535,...,15.0,14.0,149.0,102.0,1021.0,9.0,164,103,1225,10
1,2,Davante Adams*+,GNB,28,WR,14,14,149,115,1374,...,15.0,15.0,169.0,111.0,1386.0,13.0,169,123,1553,11
2,3,DeAndre Hopkins*,ARI,28,WR,16,16,160,115,1407,...,16.0,16.0,163.0,115.0,1572.0,11.0,64,42,572,8
3,4,Darren Waller*,LVR,28,TE,16,15,145,107,1196,...,4.0,0.0,6.0,6.0,75.0,0.0,93,55,665,2
4,5,Travis Kelce*+,KAN,31,TE,15,15,145,105,1416,...,16.0,16.0,150.0,103.0,1336.0,10.0,134,92,1125,9

Rk                     0
Player                 0
Tm                     0
Age                    0
Pos                  176
G                      0
GS                     0
Tgt                    0
Rec                    0
Yds                    0
TD                     0
1D                     9
YBC                    0
YBC/R                  0
YAC                    0
YAC/R                  0
ADOT                   0
BrkTkl                 0
Rec/Br               140
Drop                   0
Drop%                  0
Int                    0
Rat                    0
Player-additional      0
Year                   0
G19                   92
GS19                  92
Tgt19                 92
Rec19                 92
Yds19                 92
TD19                  92
G18                  149
GS18                 149
Tgt18                149
Rec18                149
Yds18                149
TD18                 149
Tgt21                  0
Rec21                  0
Yds21                  0
TD21                   0
dtype: int64